<div class="row-fluid">
	<div class="span12"><%= @client.id %></div>
  <div class="span12"><%= @client.external_id %></div>
	<div class="span12"><%= @client.name %></div>
	<div class="span12"><%= @client.email %></div>
	<div class="span12"><%= @client.address %></div>
  <div class="span12"><%= @client.loyalty %></div>
	<div class="span12"><%= @client.reference %></div>
</div>